/* common */

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

.dust-wrap {
    position: relative;
}

.dust-app-wrap, .dust-forecast-wrap {
    display: none;
}

.dust-app-wrap.active, .dust-forecast-wrap.active {
    display: block;
}

/* menu */

.dust-menu-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 70px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    z-index: 1;
}

.dust-menu-nav li {
    box-sizing: content-box;
    width: 100%;
    height: 70px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}